* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: "Plus Jakarta Sans", sans-serif;

    background: linear-gradient(to bottom, #FBF0E8, #FBD0D0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #534859;
}

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.logo {
    width: 260px;
}

/* PROGRESS */
.progress-wrapper {
    position: relative;
    width: 420px;
}

.progress-bar {
    width: 100%;
    height: 28px;
    padding: 4px;

    border-radius: 999px;
    border: 2px solid #FB668D;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #FB668D;
    border-radius: 999px;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 14px;
    font-weight: 600;
    color: #FB668D;
}

.loading-text {
    font-size: 16px;
    font-weight: 400;
}

footer {
    margin-top: 48px;
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 480px) {
    .logo {
        width: 200px;
    }

    .progress-wrapper {
        width: 300px;
    }

    .loading-text {
        font-size: 14px;
    }
}
